body {
	font: 16px Helvetica;
}
h1 {
	display: inline-block;
	margin: 0.1em 0;
	padding-right: 1em;
}
h2 {
	margin: 1em 0.25em;
	font-size: 1em;
	font-weight: bold;
}

ol {
	display: inline-block;
	margin: 0;
}
p {
	margin: 1em;
	float: left;
}
ul {
	margin: 0 0 0.5em 0;
	padding: 0;
}
a {
	color: #008080;
	text-decoration: none;
}
a:visited {
	color: #008080;
}
a:hover {
	color: #79CDCD;
}
.nav-bar li {
	display: inline-block;
	padding: 0.25em 1em;
	font-family: Helvetica;
	font-size: 18px;
	border: 1px dashed pink;
	margin: 0 0.5em 0 0;
}
.me {
	height: 250px;
	float: left;
}
.date p {
	display: inline-block;
	margin: 0;
	float: none;
}
.about-me {
	display: inline-block;
}
.social {
	display: inline-block;
	padding: 0 1em;
}
.post p {
	margin: 0.5em;
	font-family: Helvetica;
	font-size: 16px;
	color: #333333;
	float: none;
}