body {
	font: 16px Helvetica;
}
ul {
	display: inline;
	position: absolute;
	padding: 0;
}
.social {
	display: inline;
	border: 1px dashed pink;
	padding: 1em;
}
ol {
	display: inline-block;
}
img {
	margin: 1em;
}
.me {
	height: 250px;
	margin: 0 1em;
	display: inline-block;
}
.date {
	display: inline;
}
.contact {
	display: inline-block;
}