body {
	font: 16px Helvetica;
}
ul {
	display: inline;
	position: absolute;
	padding: 0;
}
li.social {
	display: inline;
	border: 1px dashed pink;
	width: 33%;
	padding: 1em;
	margin: 0.25em;
}

img {
	margin: 1em;
}
img.me {
	height: 250px;
	margin: 0 1em;
	display: inline-block;
}